@page "/"

<div class="container-fluid">
	<div class="row pb-2">
		<div class="col-md-12">
			@foreach(var photo in _photos)
			{
				<img 
					class="img-fluid m-1"
					alt=@($"{photo.Caption}")
					src=@($"https://savspphotoswus3dev.blob.core.windows.net/photos/{photo.Location.Thumbnail}") />
			}
		</div>
	</div>
</div>