@page "/photoinfo"
@rendermode InteractiveServer


<h3>Photo Info</h3>

<ul>
	@foreach(var photo in _photos)
	{
		<li>@photo.Caption</li>
	}

	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<EditForm Model="_newPhoto" OnValidSubmit="Submit" FormName="AddPhoto">
					<div class="row pb-2">
						<div class="col-md-2">
							<label>
								Collection:
							</label>
						</div>
						<div class="col-md-10">
							<InputSelect @bind-Value="_newPhoto!.CollectionName" >
								<option value="" selected="selected" >-- Select Collection--</option>
								@foreach (var collection in _collections)
								{
									<option value="@collection">@collection</option>
								}
							</InputSelect>
						</div>
					</div>

					<div class="row pb-2">
						<div class="col-md-2">
							<label>
								Caption:
							</label>
						</div>
						<div class="col-md-10">
							<InputText @bind-Value="_newPhoto!.Caption" />
						</div>
					</div>

					<div class="row pb-2">
						<div class="col-md-2">
							<label>
								Image:
							</label>
						</div>
						<div class="col-md-10">
							<InputFile OnChange="LoadPhotoFile" />
						</div>
					</div>

					<div class="row pb-2">
						<div class="col-md-2">
							<label>
								Thumbnail:
							</label>
						</div>
						<div class="col-md-10">
							<InputFile OnChange="LoadThumbnailFile" />
						</div>
					</div>

					<div class="row pt-3">
						<div class="col-md-2">
						</div>
						<div class="col-md-10">
							<button type="submit">Submit</button>
							<button @onclick="ResetForm">Reset</button>
						</div>
					</div>


				</EditForm>

			</div>
		</div>
	</div>
	
</ul>

@* https://learn.microsoft.com/en-us/training/modules/build-blazor-todo-list/3-exercise-data-binding
https://learn.microsoft.com/en-us/aspnet/core/blazor/forms/input-components?view=aspnetcore-8.0 *@